app/src/main/assets/beautyxt_rs_plain_text_and_markdown-third-party-licenses.html linguist-detectable=false
app/src/main/assets/beautyxt_rs_typst-third-party-licenses.html linguist-detectable=false
beautyxt_rs/about.hbs linguist-detectable=false
