*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/app-release.aab
/app/release/BeauTyXT-release.apks
/app/release/output-metadata.json
/app/release/app-release.apk
/app/release/BeauTyXT-app-release.apks
app/src/main/jniLibs/arm64-v8a/libbeautyxt_rs.so
app/src/main/jniLibs/x86_64/libbeautyxt_rs.so
/app/release/bundletool-all-1.15.5.jar
app/src/main/jniLibs/arm64-v8a/libbeautyxt_rs_compressed.so
beautyxt_rs/upx.exe
/app/release/apk/release/app-release.apk
/app/release/apk/release/output-metadata.json
/app/release/apk/release/beautyxt-0.17.0.apk
/app/src/main/jniLibs/arm64-v8a/libbeautyxt_rs_plain_text_and_markdown.so
/app/src/main/jniLibs/x86_64/libbeautyxt_rs_plain_text_and_markdown.so
/app/src/main/jniLibs/x86_64/libbeautyxt_rs_typst.so
/app/src/main/jniLibs/arm64-v8a/libbeautyxt_rs_typst.so
/beautyxt_rs_plain_text_and_markdown/upx.exe
