.gradle/
.kotlin/
.idea/
*.iml

build/
/app/release/
target/

.cxx/
.externalNativeBuild/
local.properties

captures/
design/home-screen-candidates/
design/about-candidates/
*.hprof
*.profraw
.DS_Store

*.blend[0-9]
