<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="dev.soupslurpr.beautyxt.testproviders.ACCESS"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@android:drawable/ic_menu_manage"
        android:label="@string/app_name"
        android:testOnly="true"
        android:usesCleartextTraffic="false">
        <provider
            android:name="dev.soupslurpr.beautyxt.exporting.client.StatelessExportTestProvider"
            android:authorities="${applicationId}.stateless-export"
            android:exported="true"
            android:permission="dev.soupslurpr.beautyxt.testproviders.ACCESS"
            android:grantUriPermissions="true" />

        <provider
            android:name="dev.soupslurpr.beautyxt.importing.client.StatelessImportTestProvider"
            android:authorities="${applicationId}.stateless-import"
            android:exported="true"
            android:permission="dev.soupslurpr.beautyxt.testproviders.ACCESS"
            android:grantUriPermissions="true" />
    </application>

</manifest>
