<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".BeauTyXTApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:memtagMode="async"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeauTyXT"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".HomeActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeDocumentActivity"
            android:documentLaunchMode="never"
            android:exported="false"
            android:persistableMode="persistNever"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <activity
            android:name=".ThirdPartyNoticesActivity"
            android:exported="false" />

        <activity
            android:name=".ShareActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/markdown" />
                <data android:mimeType="application/x-markdown" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:launchMode="standard"
            android:persistableMode="persistNever"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/*"
                    android:scheme="content" />
                <data
                    android:mimeType="application/markdown"
                    android:scheme="content" />
                <data
                    android:mimeType="application/x-markdown"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <service
            android:name=".importing.IsolatedImportService"
            android:allowSharedIsolatedProcess="false"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="false"
            android:externalService="false"
            android:isolatedProcess="true"
            android:process=":import"
            android:useAppZygote="false" />

        <service
            android:name=".exporting.IsolatedExportService"
            android:allowSharedIsolatedProcess="false"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="false"
            android:externalService="false"
            android:isolatedProcess="true"
            android:process=":export"
            android:useAppZygote="false" />

        <service
            android:name=".markdown.IsolatedMarkdownService"
            android:allowSharedIsolatedProcess="false"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="false"
            android:externalService="false"
            android:isolatedProcess="true"
            android:process=":markdown"
            android:useAppZygote="false" />

        <service
            android:name=".illustration.IsolatedDiagramService"
            android:allowSharedIsolatedProcess="false"
            android:directBootAware="false"
            android:exported="false"
            android:externalService="false"
            android:isolatedProcess="true"
            android:process=":diagram"
            android:useAppZygote="false" />

        <service
            android:name=".illustration.IsolatedMathService"
            android:allowSharedIsolatedProcess="false"
            android:directBootAware="false"
            android:exported="false"
            android:externalService="false"
            android:isolatedProcess="true"
            android:process=":math"
            android:useAppZygote="false" />

        <service
            android:name=".transfer.IsolatedTransferService"
            android:allowSharedIsolatedProcess="false"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="false"
            android:externalService="false"
            android:isolatedProcess="true"
            android:process=":transfer"
            android:useAppZygote="false" />
    </application>

</manifest>
